  <li> {{#link-to 'answer' answer.id}} Author {{answer.author}}'s answer to {{answer.question}} is: {{answer.content}} {{/link-to}}
    {{#if isImageShowing }}
     <p><img src={{answer.image}} {{action 'imageHide'}}/></p>
    {{else}}
      <button {{action 'imageShow'}}>Show Image</button>
    {{/if}}
  </li>
