  <li> {{#link-to 'answer' answer.id}}{{answer.content}} {{/link-to}}
    <!-- {{#if isImageShowing }}
     <p><img src={{answer.image}} {{action 'imageHide'}}/></p>
    {{else}}
      <button {{action 'imageShow'}}>Show Image</button>
    {{/if}} -->
  </li>
