  <li> Author {{answer.author}}'s answer to {{answer.question}} is: {{answer.content}}
    {{#if isImageShowing }}
     <p><img src={{answer.image}} {{action 'imageHide'}}/></p>
    {{else}}
      <button {{action 'imageShow'}}>Show Image</button>
    {{/if}}
    <button {{action 'delete' answer}}>Delete this Answer</button>
  </li>
