{{#if addNewAnswer}}
  <h1>New Answer</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Your user name:</label>
        {{input value=author id="author"}}
      </div>
      <div class="form-group">
        <label for="content">Brief description of your answer:</label>
        {{input value=content id="content"}}
      </div>
      <div class="form-group">
        <label for="details">Provide details of your solution:</label>
        {{input value=details id="details"}}
      </div>
      <!-- <div class="form-group">
        <label for="image">Image/Diagrams</label>
        {{input value=image id="image"}}
      </div> -->
      <button {{action 'saveAnswer'}}>Save this answer!</button>
    </form>
  </div>
{{else}}
  <button {{action 'answerFormShow'}}>Have a better answer? Add it!</button>
{{/if}}
