{{#if updateAnswerForm}}
  <h1>Update {{answer.author}}'s {{answer.content}}'</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Your user name:</label>
        {{input value=author id="author"}}
      </div>

      <div class="form-group">
        <label for="content">Brief description of answer:</label>
        {{input value=content id="content"}}
      </div>

      <div class="form-group">
        <label for="details">Details of your solution:</label>
        {{input value=details id="details"}}
      </div>

      <button {{action 'update' answer}}>Save these updates</button>
    </form>
  </div>
{{else}}
  <button {{action 'updateAnswerForm'}}>Update This Answer</button>
{{/if}}
