<div class="container" id="tagline">
  <h3><em>You think you're stuck? So is almost everyone else!</em></h3>
  <h2>Welcome to an Overflow of Stuck</h2>
</div>

<div class="container" id="instructions">
  Ask a question about anything you're stuck on! Or click on an existing stick and help someone else get unstuck!
</div>

<div class="container" id="questions">
  <h3>Top Questions</h3>
    <div class="row" id="display-headers">
      <div class="col-xs-2">
        votes
      </div>
      <div class="col-xs-2">
        answers
      </div>
      <div class="col-xs-2">
        views
      </div>
      <div class="col-xs-6" id="question-header">
        question
      </div>
    </div>
    <div class="row" id="display-rows">
      <div class="col-xs-2">
        {{#each model.questions as |question|}}
          0
        {{/each}}
      </div>
      <div class="col-xs-2">
        {{#each model.questions as |question|}}
          {{answer-count question}}
        {{/each}}
      </div>
      <div class="col-xs-2">
        {{#each model.questions as |question|}}
          500
        {{/each}}
      </div>
      <div class="col-xs-6" id="question-row">
        {{#each model.questions as |question|}}
        {{question-answer-count question}}
        {{#link-to 'question' question.id}} {{question.title}} {{/link-to}}
        {{/each}}
      </div>
    </div>
  </div>
  <br><br>
  <div class="container">
    {{new-question saveQuestion="saveQuestion"}}
  </div>

<hr />

<div class="container" id="answers">
  <h4>Or just browse all answers</h4>
  <ul>
    {{#each model.answers as |answer|}}
    {{answer-tile answer=answer}}
    {{/each}}
  </ul>
</div>
