<h2> {{model.title}}</h2>

<div class="container" id = "ad">
  <h5>Stuck Overflow Jobs
    <img src="/assets/images/stick.png" height="25px" width="25px"/>
    <button type="button" name="button">Get Started</button>
  </h5>
</div>
<br><br>

<h4>This question has answers:</h4>
<ul>
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>
<hr />
<div class="row">
  <div class="col-xs-2">
    <button class="glyphicon glyphicon-chevron-up"  id="vote-up"></button>
    <h4>Vote</h4>
    <button class="glyphicon glyphicon-chevron-down" id="vote-down"></button>
  </div>
  <div class="col-xs-10">
    <p>{{model.content}}</p>
  </div>
</div>
<hr />
<div class="container">
  <button {{action 'addToCart' model.title}}>Add to my Question List</button>
  {{question-detail question=model destroyQuestion="destroyQuestion"}}

  {{new-answer saveAnswer="saveAnswer" question=model}}
</div>
<div class="container">
  <h3>My Question List</h3>
  <p>
    {{display-cart}}
  </p>
</div>
