<h2>Title of this question: {{model.title}}</h2>
<h3>Full content of this question: {{model.content}}</h3>
{{question-detail question=model destroyQuestion="destroyQuestion"}}
<h4>Associated Answers:</h4>
<ul>
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>

{{new-answer saveAnswer="saveAnswer" question=model}}
