<h2> {{model.title}}</h2>

<div class="container" id = "ad">
  <h5>Stuck Overflow Jobs
    <img src="/assets/images/stick.png" height="25px" width="25px"/>
    <button type="button" name="button">Get Started</button>
  </h5>
</div>
<br><br>

<h4>This question already has answers:</h4>
<ul>
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>
<hr />
<div class="row">
  <div class="col-xs-2">
    <h5><span class="glyphicon glyphicon-chevron-up"></span></h5>
    <h4>Vote</h4>
    <h5><span class="glyphicon glyphicon-chevron-down"></span></h5>
  </div>
  <div class="col-xs-10">
    <p>{{model.content}}</p>
  </div>
</div>
<hr />
<div class="container">
  {{question-detail question=model destroyQuestion="destroyQuestion"}}

  {{new-answer saveAnswer="saveAnswer" question=model}}
</div>
